<div class="flex flex-col">
    <div="h-80 w-32 shadow-md">
        <img src="{{snack_image}}" alt="{{snack_name}}" class="h-full w-full object-cover" />
    </div>
    <div>
        <h2>Snack Name: {{snack_name}}</h2>
    </div>
    <div>
        <h2>Ratings</h2>
        <ul>
            {{#each snack_ratings as |rating|}}
                <li>{{rating}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <i>Brand: </i>
        <i> {{snack_brand}}</i>
    </div>
</div>
 
select country and categroy and it takes tou to browse page 
browse page add functionality to search bar 
partial make the snacks render nicely 
add functionality for the selectors 
