<div class="flex flex-col h-96 w-64 bg-stone-300 rounded-md m-4 p-2 items-center shadow-md" onclick="window.location.replace('./snack/{{id}}')">
    <div class="h-56 w-44 flex justify-center items-center p-2">
        <img src="{{snack_image}}" alt="{{snack_name}}" style=" max-height: 100%; max-width: 100%; width: auto; height: auto;" />
    </div>
    <hr>
    <div class="flex flex-col items-center">
        <h2 class="font-bold text-1xl">{{snack_name}}</h2>
        <p>{{brand_name}}</p>
    </div>
    <div>
        <p>
            {{#each snack_countries as |country|}}
            <span class="text-2xl">{{country.country.country_emoji}}</span>
            {{/each}}
        </p>
    </div>
    <div>
        <div class="flex flex-row items-center">   
            {{#each starArr as |star|}}
            <svg class="w-4 h-4 {{star.color}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
            <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            {{/each}}
            <p class="ml-2">{{ratingsAvg}} / 5</p>
        </div>
        
    </div>
</div>