<article class="mt-4" onclick='window.location.replace("/snack/{{Snack.id}}")'>
    <div class="flex flex-row items-center">
        <img class="h-64" src={{Snack.snack_image}}>
        <div class="flex flex-col ml-4">
            <h2 class="text-2xl font-bold">{{Snack.snack_name}}</h2>
            <div>
                <p>
                    {{#each Snack.snack_countries}}
                        <span class="text-2xl">{{country.country_emoji}}</span>
                    {{/each}}
                </p>
            </div>
            <div class="flex flex-row items-center">
                <img class="w-10 h-10 me-4 rounded-full" src={{User.profile_picture}} alt="">
                <div class="font-medium dark:text-white">
                    <p>{{User.username}}<time datetime="2014-08-16 19:00"
                            class="block text-sm text-gray-500 dark:text-gray-400">{{!--Joined
                            on August 2014--}}</time></p>
                </div>
            </div>
            {{#if review_title}}
            <h3 class="text-md font-semibold text-gray-900 dark:text-white">{{review_title}}</h3>
            {{/if}}
            <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
                {{#each starArr as |star|}}
                <svg class="w-4 h-4 {{star.color}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                {{/each}}
                
            </div>
            <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400">
                <p>Reviewed in {{User.country.country_name}} on {{format_date date_created}}</p>
            </footer>
            <p class="mb-2 text-gray-500 dark:text-gray-400">{{text_review}}</p>
        </div>
    </div>
    
    
    <hr class="mt-8 border-b-2 border-stone-400 w-4/5">
</article>