<div class="w-screen flex flex-col items-center">
    <div class="container shadow-lg bg-stone-100 w-10/12 p-8 flex flex-row mt-8 justify-between">
        <div class="flex justify-self-start flex-row items-center">
            <div>
                <img class="shadow-md h-36 w-36 rounded-full bg-stone-100" src={{dashboardData.profile_picture}}>
            </div>
            <div>
                <h2 class="text-2xl ml-8">{{dashboardData.username}}</h2>
                <p class="ml-8 flex flex-row items-center">From {{dashboardData.user_country}} <span
                        class="text-3xl ml-4">{{dashboardData.country_emoji}}</span></p>
            </div>

        </div>
        
        <div id="stat-board" class="flex flex-row justify-self-end items-center ">
            <div class="flex flex-col m-8 items-center">
                <h3 class="font-bold text-2xl">Num</h3>
                <p class="">Snacks</p>
            </div>
            <div class="flex flex-col m-8 items-center">
                <h3 class="font-bold text-2xl">{{dashboardData.submittedSnacks}}</h3>
                <p>Submissions</p>
            </div>
            <div class="flex flex-col m-8 items-center">
                <h3 class="font-bold text-2xl">{{dashboardData.numRatings}}</h3>
                <p>Reviews</p>
            </div>
            <div class="flex flex-col m-8 items-center">
                <h3 class="font-bold text-2xl">{{dashboardData.numLikes}}</h3>
                <p>Likes</p>
            </div>
        </div>
    </div>
    
    <div id="dashboardNav" class="flex flex-row b w-10/12 mt-8 justify-center h-12 bg-stone-100 shadow-lg items-center">
        <ul class="flex space-x-12">
            <a href ="/dashboard/snacks">Snacks</a>
            <a href ="/dashboard/wishlist">WishList</a>
            <a href="/dashboard/review">Reviews</a>
            <a>Likes</a>
            <a href="/dashboard/submission">Submissions</a>
            <a href="/dashboard/edit">Edit Profile</a>
        </ul>
    </div>
</div>

<div class="flex justify-center items-center min-h-screen">
    <div class="w-4/5 shadow-xl bg-stone-100 flex flex-col p-8 justify-evenly rounded-lg m-8">
        <h1 class="text-xl font-bold mb-6 text-center">All Likes</h1>
        <div class="reviews">
            {{#if likes.length}}
                <ul>
                    {{#each likes as |like|}}
                        <div class="border border-gray-200 rounded-md p-4 mb-4 flex flex-row items-center">
                            <div class="flex flex-col flex-grow">
                                <h2 class="font-semibold text-sm text-gray-900"> Snack: {{like.Snack.snack_name}} </h2>
                                <h2 class="font-semibold text-sm text-gray-900"> Brand: {{like.Snack.brand_name}} </h2>
                            </div>
                            <img src="{{like.Snack.snack_image}}" alt="{{like.Snack.snack_name}}" style="max-width: 200px; max-height: 200px;">
                        </div>
                    {{/each}}
                </ul>
            {{else}}
                <p>0 Likes</p>
            {{/if}}
        </div>
    </div>
</div>

