<div class="flex flex-col items-center w-screen">
    <div id="homepage-Hero" class="w-screen bg-cover bg-center flex flex-col justify-center items-center h-128"
        style="background-image: url('/images/world.jpg')">
        <h1 class="text-4xl font-bold text-center text-slate-100 mb-6">Find The Best Snack From Any Country In The World
        </h1>
        <form >
         <div class="flex flex-row items-center bg-sky-950 p-2 rounded-md">        
            <div class="p-3 m-2 flex flex-row items-center justify-center">
                <form>
                    <label for="countries" class="text-white m-2">Choose a Country: </label>
                    <select id="countries" class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 ">
                        <option selecteḏ>Country</option>
                        {{#each countries as |country|}}
                        <option value="{{country_name}}">{{country_name}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>

            <h2 class="font-bold text-2xl text-white">OR</h2>

            <div class="p-3 m-2 ">
                <form>
                    <label for="categories" class="text-white m-2">Choose a Catagory: </label>
                    <select id="categories" class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 ">
                        <option selecteḏ>Category</option>
                        {{#each categories as |Category|}}
                        <option value="{{category_name}}">{{category_name}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>

            <button type="button" id="submit-filters" class="p-2 m-2 text-sm text-white rounded-lg bg-blue-700 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Search Snacks</button>
        </div>
                
        </form>
    </div>
    <div class="w-4/5 shadow-xl bg-stone-100 flex flex-col p-8 justify-evenly rounded-lg m-8">
        <h1 class="text-2xl font-bold">Snacks People love from: {{country.country_name}} {{country.country_emoji}}</h1>
        <div class="flex flex-row items-center">
            {{#each snackFromCountry as |snack|}}
                {{> snack-details}}
            {{/each}}
        </div>
    </div>

    <div class="flex flex-col w-screen items-center my-4">
        <h1 class="text-2xl font-bold my-2">Have a Snack from your Country you would like to add for people to discover?</h1>
        <p class="text-xl my-1">Head to our snack submission form and submit your own snack!</p>
        <a href="/add"
            class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 my-2">Add Snack</a>
    </div>

    <div class="w-4/5 shadow-xl bg-stone-100 flex flex-col p-8 justify-evenly rounded-lg m-8">
        <h1 class="text-2xl font-bold">Recently added snacks</h1>
        <div class="flex flex-row items-center">
            {{#each snackFromRecent as |snack|}}
            {{> snack-details}}
            {{/each}}
        </div>
    </div>
    <div class="w-4/5 shadow-xl bg-stone-100 flex flex-col p-8 justify-evenly rounded-lg m-8">
        <h1 class="text-2xl font-bold">Recent user reviews</h1>
        <div class="h-full grid grid-cols-2">
            {{#each reviewData as |review|}}
            {{> snack-review-card}}
            {{/each}}
        </div>
    
    </div>
</div>

<script src="/js/landingSearch.js"></script>

 